body{
    background: url(resources/b5.jpg);
    background-size: cover;
}
.c1{
    color:orangered;
    font-size:40px;
    margin:50px;
    text-align:center;
}
#id1{
    color:white;
    font-size:35px;
    margin:"0px 60px 40px 60px";
    text-align:center;
    font-weight: bold;
    padding:30px;
    background: rgba(25, 0, 0);
}
#id2{
    color:orange;
    font-size:35px;
    margin:"0px 60px 40px 0px";
    padding:20px;
    font-weight: bold;
    text-align:center;
}
.c2{
    color:aqua;
    margin:"0px 60px 50px 60px";
    font-size:35px; 
    padding-left:30px;
    padding-top:-20px;
    text-align:center;
}
.f1 {
    display: flex;
    margin-left: 160px;
  }
#b1 {
    flex-direction: row;
    flex-basis: 100px;
  }
img{
      margin-right:150px;
      align:center;
  }
.f2 {
    display: flex;
    margin-top:10px;
    margin-left: 180px;
  }
#cap1 {
    flex-direction: row;
    flex-basis: 100px;
  }
figcaption{
    color:aqua;
    font-size:20px;
    margin-right:210px;
    align:center;
}
.c10{
    color:aqua;
    font-size:20px;
    margin-right:250px;
    align:center;
}
#id6{
    margin-left: 450px;
    height:"300px";
}
.f1 {
    display: flex;
    margin-left: 100px;
  }
#b1 {
    flex-direction: column;
    flex-basis: 100px;
  }
  .c10 p{
    color:orange;
    font-size:35px;
    margin:"0px 60px 40px 0px";
    padding:20px;
    font-weight: bold;
    text-align:center;
}